<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:switch="${clientes}">
		<h2 th:case="null">No users yet!</h2>
		<div th:case="*">
			<h2>Users</h2>
			<table>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente : ${clientes}">
						<td th:text="${cliente.nombre}"></td>
						<td th:text="${cliente.total}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
		</p>
	</div>
</body>
</html>