<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:switch="${camareros}">
		<h2 th:case="null">No users yet!</h2>
		<div th:case="*">
			<h2>Users</h2>
			<table>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Mes</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="camarero : ${camareros}">
						<td th:text="${camarero.nombre}"></td>
						<td th:text="${camarero.apellido1}"></td>
						<td th:text="${camarero.mes}"></td>
						<td th:text="${camarero.sum}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
		</p>
	</div>
</body>
</html>