<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>

</h:head>

<h:body>
	<h:form>
		<h3>Floating Label</h3>
		<span class="ui-float-label"> <p:inputText id="float-input"
				value="#{facturaController.cliente}" /> <p:outputLabel
				for="@previous" value="Username" />
		</span>

		<h3>Floating Label</h3>
		<span class="ui-float-label"> <p:inputText id="float-input"
				value="#{facturaController.camarero}" /> <p:outputLabel
				for="@previous" value="Username" />
		</span>

		<h3>Floating Label</h3>
		<span class="ui-float-label"> <p:inputText id="float-input"
				value="#{facturaController.platos}" /> <p:outputLabel
				for="@previous" value="Platos" />
		</span>

		<p:commandButton value="Non-Ajax Submit" id="nonAjax"
			action="#{facturaContorller.crear}" style="margin-right:20px;"
			ajax="false" />


	</h:form>

</h:body>
</html>
